@import "../../app.scss";

.services{
    width: 100%;
    background-color: #F4F4F4;
    padding: 0 5%;

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;

        h5{
            font-size: 18px;
            font-weight: 300;
        }

        h1{
            font-size: 45px;
            font-weight: 600;
            
            b{
                font-weight: inherit;
                color: #E3B767;
            }
        }
    }

    .offers{
        display: flex ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 2%;
        margin-top: 70px;

        @include mobile{
            display: none;
        }

        #wrapper{
            width: 24%;
        }
        
        #card{
            border: none;
            background-color: #6982A4;
            color: white;
            min-width: 100%;
            padding: 40px;
            margin-bottom: 5%;
            border-radius: 39px;
            height: 489px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s ease;

            &:hover {
                scale: 1.05;
            }

            #service_img{
                max-width: 87px;
                max-height: 86px;
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
    }

    .offers_xs{
        display: none;

        @include mobile{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .carousel-indicators{
            display: none !important;
        }

        #card{
            border: none;
            background-color: #6982A4;
            color: white;
            min-width: 24%;
            padding: 20px;
            padding-bottom: 0;
            margin-bottom: 2%;
            border-radius: 39px;
            height: 489px;
            display: flex;
            flex-direction: column;
            align-items: center;

            #service_img{
                max-width: 87px;
                max-height: 86px;
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}